<div class="contents row">
  <b><p><%= current_user.nickname %>さんのマイページ</p></b>
  <b><p><%=link_to 'Topページに戻る', root_path, class: "contents2--bottom--btn " %></p></b>
  <b><p><%=link_to '単語を登録する', new_english_word_path, class: "contents2--bottom--btn " %></p></b>
  <div class="contents__main">
      <div class="content__left"> 
        <b><div class="content__left__title"><%="【#{current_user.nickname}さんの登録単語一覧】"%></div></b>
        <div class="content__left__flame">
          <% @english_word.each do |english_words|%>
        <div class="content__left__flame__box">
          <%= simple_format(english_words.key_word) %>
          <%= simple_format(english_words.key_word_kana) %>
          <span class="name"><%= english_words.grammar %></span>
            <%= link_to ("#{english_words.key_word} : #{english_words.grammar}"), english_word_path(english_words.id), class: "content__left__box--word"%>
        </div>
          <% end %>
        </div>  
      </div>
  </div>
</div>

