  <div class="contents__top">
    <div class="contents__top--signin">
    </div>
    <div class="contents__top--menu">
      <% if user_signed_in?%>
        <b><%= link_to '英単語の登録', new_english_word_path, class: "content2--bottom--btn" %></b> 
        <b><%= link_to "#{current_user.nickname}さんのページ", user_path(current_user), class: "content2--bottom--btn"%></b>
        <b><%= link_to '3択クイズ', quiz_english_words_path, class: "content2-bottom--btn" %></b>
        <b><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "content2-bottom--btn"%></b> 
      <% else %>
        <b><%= link_to"ログイン",new_user_session_path, class: "contents__rogin--btn"%></b>
        <b><%= link_to"新規登録",new_user_registration_path, class: "contents__regi--btn"%></b>
      <% end %>
    </div>
  </div>
  <%# メインコンテンツ %>
  <div class="contents__main">
      <%# カレンダー&youtube %>
      <div class="content__left"> 
        <b><div class="content__left__title">【みんなの登録単語一覧】</div></b>
        <div class="content__left__flame">
          <% @english_words.each do |english_word|%>
        <div class="content__left__flame__box">
            <%= link_to ("#{english_word.key_word} : #{english_word.grammar}"), english_word_path(english_word.id), class: "content__left__box--word"  %> <%#式展開を記述("#{}")%>
        </div>
          <% end %>
        </div>  
      </div>
      <%# メニューボタン %>
      <div class="content__right">
        <b><div class="content__right--box">【 youtube動画 】</div></b>
          <div id="youtube">
          </div>
          <div class="youtube__player">
            <button id="play">再生</button>
            <button id="pause">一時停止</button>
            <button id="stop">停止</button>
            <button id="prev">10秒前へ</button>
            <button id="next">10秒先へ</button>
            <button id="volup">音量アップ</button>
            <button id="voldown">音量ダウン</button>
            <button id="mute">ミュート</button>
          <div id="sample"></div>
        </div>
      </div>
  </div>
  