<%# 新規登録画面のフレーム %>
<div class="new--contents">

  <%# 単語登録画面のタイトル %>
  <div class="new--contents__title">
    【 新規登録ページ 】
  </div>

  <%# 各種画面へのリンクフレーム %>
  <div class="new--contents__header">
    <div class="new--contents__header__link">
      <%= link_to 'TOPに戻る', root_path, class:"redirect__btn"%> 

    </div>
  </div>

  <%# 入力フォーム部分 %>
  <div class="new--contents__main">
    <%= form_with model: @english_word, local: true, class: "new--contents__main--form" do |form| %>
      <%# 英単語フォーム %>
      <div class="new--contents__main__word">
        ◉ 登録したい英単語 :
      <%= form.text_field :key_word, placeholder: :新規英単語登録, class: :form__btn__english %>
      </div>
      <%# 日本語訳フォーム %>
      <div class="new--contents__main__word">
        ◉ 日本語訳 :
      <%= form.text_field :key_word_kana, placeholder: :日本語訳, class: :form__btn__japanese %>
      </div>
      <%# 文法プルダウン選択 %>
      <div class="new--contents__main__word">
        ◉ 文法の種類 :
      <%= form.select :grammar, [["名詞", "名詞"], ["形容詞", "形容詞"], ["動詞", "動詞"], ["副詞", "副詞"], ["前置詞", "前置詞"], ["接続詞", "接続詞"], ["熟語", "熟語"]],include_blank: "文法を選択して下さい" %>
      </div>
      <%# 登録ボタン %>
      <%= form.submit '登録する', class: :form__submit__btn %>
    <%end%>
  </div>
</div>