<!DOCTYPE html>
<html>
  <head>
    <title>EnglishApp3</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <%# ヘッダー %>
    <div class="header">
      <div class="header--message">
        My_English_Practice
      </div>
    </div>
    <%= yield %>
  <%# フッター  %>
    <div class="footer">
      <div class="footer--message">
        フッター 
        aaa
        aaaaa
        aaaaaa
      </div>
    </div>
  </body>
</html>
