<!DOCTYPE html>
<html>
  <head>
    <title>EnglishApp3</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  </head>

  <body>
  <%# ヘッダー %>
    <div class="header">
      <div class="header--message">
        My_English_Practice
      </div>
    </div>
    <%= yield %>
  <%# フッター  %>
    <div class="footer">
      <ul class="footer-menu">
        <li>home |</li>
        <li>about |</li>
        <li>service |</li>
        <li>content Us |</li>
      </ul>
      <div class>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-line"></i>
        <i class="fab fa-facebook-square"></i>
      </div>
      <p>©︎ All rights reserved by holy2943.</p>
    </div>
   <%# <script src="./youtube.js"></script> %>
  </body>
</html>
